.proba {
  opacity: 0;
  animation-duration: 2s;
  animation-name: slidein;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes slidein {
  from {
    transform: translateY(80px);
    opacity: 0;
  }

  to {
    transform: translateY(-80px);
    opacity: 1;
  }
}
