
.coveritemText {
  color: white;
  animation-duration: 1.5s;
  animation-name: text-up;
  /*animation-delay: 0.2s;*/
  opacity: 0.5;
  animation-fill-mode: forwards;
}
@keyframes text-up {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
