html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Regular.woff2") format("woff2"),
    url("/fonts/Oswald-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Bold.woff2") format("woff2"),
    url("/fonts/Oswald-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Light.woff2") format("woff2"),
    url("/fonts/Oswald-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Medium.woff2") format("woff2"),
    url("/fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-SemiBold.woff2") format("woff2"),
    url("/fonts/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Light.ttf") format("truetype"),
    url("/fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Regular.ttf") format("truetype"),
    url("/fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Medium.ttf") format("truetype"),
    url("/fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Bold.ttf") format("truetype"),
    url("/fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-ExtraBold.ttf") format("truetype"),
    url("/fonts/Rubik-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
/*.proba {
  flex: 1;
}*/
.backgroung_opacity_change0 {
  background-size: cover;
  animation-duration: 1s;
  animation-name: change-background0;
  background-image: url("../public/images/home_cover00.jpg");
}
.backgroung_opacity_change1 {
  background-size: cover;
  animation-duration: 1s;
  animation-name: change-background1;
  background-image: url("../public/images/home_cover11.jpg");
}
.backgroung_opacity_change2 {
  background-size: cover;
  animation-duration: 1s;
  animation-name: change-background2;
  background-image: url("../public/images/home_cover22.jpg");
}
.backgroung_opacity_change3 {
  background-size: cover;
  animation-duration: 1s;
  animation-name: change-background3;
  background-image: url("../public/images/home_cover33.jpg");
}
.mbackgroung_opacity_change0 {
  background-size: cover;
  animation-duration: 1s;
  animation-name: change-background0;
  background-image: url("../public/images/mhome_cover00.jpg");
}
.mbackgroung_opacity_change1 {
  background-size: cover;
  animation-duration: 1s;
  animation-name: change-background1;
  background-image: url("../public/images/mhome_cover11.jpg");
}
.mbackgroung_opacity_change2 {
  background-size: cover;
  animation-duration: 1s;
  animation-name: change-background2;
  background-image: url("../public/images/mhome_cover22.jpg");
}
.mbackgroung_opacity_change3 {
  background-size: cover;
  animation-duration: 1s;
  animation-name: change-background3;
  background-image: url("../public/images/mhome_cover33.jpg");
}
@keyframes change-background0 {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes change-background1 {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes change-background2 {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes change-background3 {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
